        <b>Date :</b><span ng-bind="mrp.searchSlot.date"></span><br>
		<b>Start Time :</b><span ng-bind="mrp.searchSlot.startTime"></span><br>
		<b>End Time :</b><span ng-bind="mrp.searchSlot.endTime"></span><br>
         <div class="row">
            <div class="col-xs-6 col-lg-4 room-body" ng-repeat="room in mrp.roomsList | filter:mrp.roomsList.search | orderBy:'name'">
                <div ng-click='bookSlot(room.id)'><h1><span class="label label-default">{{room.name}}</span></h1>
                    <b>Location: </b><span ng-bind="room.location"></span><br>
                    <b>Capacity: </b><span ng-bind="room.capacity"></span>
                </div>
                <div class="room-overlay c-p" ng-click='bookSlot(room.id)'>
                    <b>Name: </b>{{room.name}}
                    <br>
                    <b>Location: </b><span ng-bind="room.location"></span>
                    <br>
                    <b>Capacity: </b><span ng-bind="room.capacity"></span>
                    <br>
                    <b>Color: </b><span ng-bind="room.color"></span>
                    <br>
                    <b>Facilities: </b><span ng-bind="room.facilities"></span>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="bookSlotModal" tabindex="-1" role="dialog" aria-labelledby="bookSlotModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="bookSlotModalLabel">Book Slot</h4>
                    </div>
                    <div class="modal-body">
                       <div class="jumbotron" style="padding: 2px;">
                        <h4>Meeting Room Details </h4> 
                        Name: {{room.name}}<br>
                        Location: <span ng-bind="room.location"></span><br>
                        Facilities: <span ng-bind="room.facilities"></span><br>
                        Date: <span ng-bind="mrp.searchSlot.date"></span><br>
						Start Time: <span ng-bind="mrp.searchSlot.startTime"></span><br>
						End Time: <span ng-bind="mrp.searchSlot.endTime"></span>
                       </div>
 
                       <!-- FORM -->
                       <form name="slotForm" novalidate>

        				    <!--Meeting NAME -->
        					<div class="form-group">
            	               <label>Meeting Name</label> 
                               <input type="text" name="name" class="form-control" ng-model="slot.name" required>
                            </div>

        					<!-- Agenda -->
        					<div class="form-group">
            					<label>Agenda</label>
            					<input type="text" name="agenda" class="form-control" ng-model="slot.agenda" ng-minlength="3">
        				    </div>
        
        					<!-- Attendees -->
        					<div class="form-group">
            					<label>Attendees</label>
            					<input type="text" name="attendees" class="form-control" ng-model="slot.attendees">
        					</div>
                        </form>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="submitSlot(slot, room,slotForm.$valid)">Book</button>
                      </div>
                </div>
            </div>
        </div>
