<div class="well">
	<div class="row">
    	<div class="col-sm-12">
        	<tabset>
            	<tab select="renderCalender('myCalendar1');">
                	<tab-heading>
                    	<i class="glyphicon glyphicon-bell"></i> My Meetings
                    </tab-heading>
                    <div class="btn-toolbar">
                    	<div class="pull-right btn-group" style="margin:10px;">
                        	<button class="btn btn-primary" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
                            <button class="btn btn-primary" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
                            <button class="btn btn-primary" ng-click="changeView('month', 'myCalendar1')">Month</button>
                        </div>
                    </div>
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar" ></div>
                </tab>
                <tab select="renderCalender('myCalendar2');">
                	<tab-heading>
                    	<i class="glyphicon glyphicon-bell"></i> All Meetings
                    </tab-heading>
                    <div class="btn-toolbar">
                    	<div class="pull-right btn-group" style="margin:10px;">
                        	<button class="btn btn-primary" ng-click="changeView('agendaDay', 'myCalendar2')">Day</button>
                            <button class="btn btn-primary" ng-click="changeView('agendaWeek', 'myCalendar2')">Week</button>
                            <button class="btn btn-primary" ng-click="changeView('month', 'myCalendar2')">Month</button>
                        </div>
                    </div>
                    <div class="calendar" ng-model="eventSources2" calendar="myCalendar2" ui-calendar="uiConfig.calendar" ></div>
                </tab>

            </tabset>
        </div>
    </div>
    <modal title="Event Details" visible="showModal">
    	<div class="well">
            <span>Meeting : </span><span>{{clickedEvent.title}}</span><br>
            <span>Agenda : </span><span>{{clickedEvent.agenda}}</span><br>
            <span>Date: </span><span>{{clickedEvent.date}}</span><br>
            <span>Booked By: </span><span>{{clickedEvent.owner_id}}</span><br>  
            <span>Start Time: </span><span>{{clickedEvent.start | date:'hh:mm a'}}</span><br>
            <span>End Time: </span><span>{{clickedEvent.end | date:'hh:mm a'}}</span><br>
            <span>Booked By: </span><span>{{clickedEvent.owner_id}}</span><br>      
        </div>
    </modal>
</div>