<div class="table-responsive">
    <table class="table table-hover">
    	<colgroup><col width="10px"></colgroup>
        <thead>
            <tr>
                <th>
                    <input id="check-all" type="checkbox" ng-click="checkAll()">
                </th>
                <th>Name</th>
                <th>Location</th>
                <th>Capacity</th>
                <th>Facilities</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr class="c-p" ng-repeat="room in roomsList | orderBy:'name'">
                <td>
                    <input type="checkbox" checklist-model="selected.roomsList" checklist-value="room.id">
                </td>
                <td ng-bind="room.name" ng-click="addRoom(room)"></td>
                <td ng-bind="room.location" ng-click="addRoom(room)"></td>
                <td ng-bind="room.capacity" ng-click="addRoom(room)"></td>
                <td ng-bind="room.facilities" ng-click="addRoom(room)"></td>
                <td ng-click="addRoom(room)"><span class="glyphicon glyphicon-tint pl-15" style="color:{{room.color}};" aria-hidden="true"></span></td>
            </tr>
        </tbody>
    </table>
</div>
<footer>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirmationModal">Delete</button>
    <button type="button" class="btn btn-primary pull-right" ng-click="addRoom()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Room</button>
</footer>

<!-- Modal -->
<div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="addRoomModalLabel">
					<span class="glyphicon {{modal.icon}}" aria-hidden="true"></span>
					{{modal.heading}}
				</h3>
            </div>
            <div class="modal-body">

                <!-- FORM -->
                <form name="addRoomForm" id="addRoomForm" class="mrp-form" novalidate>

                    <input type="hidden" name="id" class="form-control" value="{{room.id}}">

                    <!-- NAME -->
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" value="{{room.name}}" required>
                    </div>

                    <!-- Location -->
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" name="location" class="form-control" value="{{room.location}}" required>
                    </div>

                    <!-- Capacity -->
                    <div class="form-group">
                        <label>Capacity</label>
                        <input type="number" name="capacity" class="form-control" value="{{room.capacity}}" required min="1">
                    </div>

                    <!-- Color -->
                    <div class="form-group">
                        <label>Color</label>
                        <input type="text" name="color" class="form-control" value="{{room.color}}">
                    </div>

                    <!-- Facilities -->
                    <div class="form-group">
                        <label>Facilities</label>
                        <input type="text" name="facilities" class="form-control" value="{{room.facilities}}">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="submitRoom(addRoomForm.$valid)">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmationModalLabel">Confirmation to delete rooms</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete selected rooms?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="deleteRooms()">Delete</button>
            </div>
        </div>
    </div>
</div>