.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.mr-5 {
	margin-right: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-mns-20 {
	margin-top: -20px;
}

.mt-40 {
	margin-top: 40px;
}

.c-p {
	cursor: pointer;
}

.wd-50 {
	width: 50%;
}

.pt-15 {
	padding-top: 15px;
}

.pl-15 {
	padding-left: 15px;
}

body {
	background-color: #fff;
}

.query-time {
	background-color: #d1e1e5;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 10px;
}

.orange-color {
	color: #E86554;
}

.sky-color {
	color: #10B4CA;
}

.blue-grey {
	color: #A2B8BF;
}

.blue-bg-color {
	background-color: aliceblue;
}

.rooms-row {
	margin-right: -9px;
	margin-left: -9px;
}

.slot-detail {
	width: 50%
}

.details dl {
	padding: 0px;
	margin: 0px;
}

.details dt {
	width: 33%;
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	display: inline-block;
	margin: 0;
	height: 33px;
	color: #A2B8BF;
}

.details dd {
	width: 66%;
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	display: inline-block;
	margin: 0;
	height: 33px;
}

.form-group label {
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	height: 33px;
}

.split-half {
	width: 48%;
	display: inline-block;
	vertical-align: top;
}

#content {
	margin-top: -20px;
}